.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(221, 196, 196, 10), 0 3px 6px rgba(226, 181, 181, 20);
    margin: 0 auto; /* 페이지 중앙정렬 */
    margin-top: 4rem;
}

.title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    background: #ff6b6b;
    color: white;

}

.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #ff6b6b;
}

.todos-wrapper {
    min-height: 5rem;
}

.palette-wrapper {
    padding: 1rem;
    background: #f1f3f5;
}